{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure    {:mvn/version "1.12.5"}
           com.fulcrologic/fulcro {:mvn/version "3.9.5"}
           com.wsscode/pathom     {:mvn/version "2.4.0"}
           aero/aero              {:mvn/version "1.1.6"}}

 :aliases {:tests {:extra-paths ["test"]
                   :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.2.8"}}}
           :dev {:extra-paths ["src/dev"]
                 :extra-deps  {org.clojure/clojurescript      {:mvn/version "1.12.145"}
                               clj-commons/secretary          {:mvn/version "1.2.4"}
                               thheller/shadow-cljs           {:mvn/version "3.4.10"}
                               hiccup/hiccup                  {:mvn/version "2.0.0"}
                               binaryage/devtools             {:mvn/version "1.0.7"}
                               com.fulcrologic/fulcro-inspect {:mvn/version "1.0.4"}
                               cider/cider-nrepl              {:mvn/version "0.59.0"}
                               cider/piggieback               {:mvn/version "0.6.1"}}}}}
