html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.125;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
}
sup {
  vertical-align: super;
  font-size: 75%;
}
a, a:visited {
  text-decoration: none;
}
a.dark:visited, a.dark {
  color: #f5f5f5;
}
a.light:visited, a.light {
  color: #363636;
}
a {
  color: inherit;
}
blockquote {
  margin: 0.25rem auto;
}
h1 {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 600;
}
h2 {
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 400;
}
h3 {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 400;
}
ul {
  padding-left: 1em;
}
li {
  margin: 0 0 .5em 0;
}
li.small-margin {
  margin: 0 0 .1em 0;
}
footer {
  font-size: 3em;
  text-align: center;
  vertical-align: top;
}
span.indent {
  padding-left: 2rem;
  display: block;
}
.blade {
  justify-content: left;
  align-items: center;
  padding: 1.5% 10% 1.5% 10%;
  color: #363636;
}
.blade.dark {
  background-color: #363636;
  color: #f5f5f5;
}
.blade.light {
  background-color: #f5f5f5;
}
.resume {
  padding-left: 25%;
  padding-right: 25%;
}
.center {
  text-align: center;
}
.justified {
  text-align: justify;
  text-justify: inter-word;
}
.container {
  width: auto;
  margin: 0 auto;
  background: #fff;
}
.row {
  font-size: 1rem;
  font-weight: 400;
  padding: 12px 0;
}
.column {
  float: left;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-header,
.Site-footer {
  flex: none; /* 2 */
}
.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}
.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}
.oldXp {
  text-decoration: line-through;
  color: #A9A9A9;
}
.oldXp a, .oldXp a:visited {
  color: #A9A9A9;
}
h2.margin-top-1-8 {
  margin-top: 1.8em;
}
h2.margin-top-2 {
  margin-top: 2em;
}
@media (max-width: 1280px) {
    .resume {
      padding-left: 11%;
      padding-right: 11%;
    }
}
@media (max-width: 512px) {
  .justified {
    text-align: left;
    text-justify: none;
  }
}
@page {
  margin: 0 0.50cm 0 0.25cm;
}
@media print {
  html, body {
    overflow: visible !important;
    width: 49em;
    height: auto;
    font-size: 12px;
    margin: 1.6cm 1.4cm 1.4cm 1.4cm;
  }
  .Site, .Site-content, .Site-content--full {
    display: block;
    padding-top: 0;
    margin-top: 0;
  }
  .resume { 
    margin: 0;
    padding: 0;
  }
  .force-page-break {
    margin-top: 1.6cm;
    page-break-before: always;
  }
}
